.container {
  height: 600px;
  margin: 0px auto;
  width: 1050px;
}
body {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
}
.cell {
  background-size: contain;
  box-sizing: border-box;
  float: left;
  height: 15px;
  width: 15px;
}

.water {
  background-color: steelblue;
}
.land {
  background-color: green;
}

.castle {
  position:absolute;
  width:  30px;
  height: 30px;
  padding:0;
  margin:0;
}

.seg-single {
    border: 1px dotted white;
}
.seg-closed-up {
    border: 1px dotted white;
    border-bottom: none;
}
.seg-closed-down {
    border: 1px dotted white;
    border-top: none;
}
.seg-closed-left {
    border: 1px dotted white;
    border-right: none;
}
.seg-closed-right {
    border: 1px dotted white;
    border-left: none;
}
.seg-through-horizontal {
    border: 1px dotted white;
    border-left: none;
    border-right: none;
}
.seg-through-vertical {
    border: 1px dotted white;
    border-top: none;
    border-bottom: none;
}

.seg-corner-lu {
    border: 1px dotted white;
    border-right: none;
    border-bottom: none;
}

.seg-corner-ru {
    border: 1px dotted white;
    border-left: none;
    border-bottom: none;
}

.seg-corner-rd {
    border: 1px dotted white;
    border-left: none;
    border-top: none;
}

.seg-corner-ld {
    border: 1px dotted white;
    border-right: none;
    border-top: none;
}

.wall {
  background-color: black;
}

.territory-player-0 {
/*
    background-image:
      -moz-linear-gradient(45deg, grey 25%, transparent 25%), 
      -moz-linear-gradient(-45deg, grey 25%, transparent 25%),
      -moz-linear-gradient(45deg, white 75%, grey 75%),
      -moz-linear-gradient(-45deg, white 75%, grey 75%);
    background-image:
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #210175), color-stop(.25, transparent)), 
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #210175), color-stop(.25, transparent)),
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #210175)),
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, #004f8d), color-stop(.75, #210175));

    -moz-background-size:10px 10px;
    background-size:10px 10px;
    -webkit-background-size:10px 11px; 
    
    background-position:0 0, 5px 0, 5px -5px, 0px 5px;
*/
    background-color: grey;

}

.territory-player-1 {
     background-color: yellow;

}
.cannon-img {
    width:30px;
    height:30px;
    position:absolute;
    pointer-events: none;
}

.ship {
    width:30px;
    height:30px;
    position:absolute;
}

.cannonball  {
    width:15px;
   
    position:absolute;
}
.fire  {
    width:20px;   
    position:absolute;
}


.explosion {
    width:30px;
    position:absolute;
}

.game-message {
    position:absolute;
    color:white;
}

.game-options {
    color:white;
}

.game-options-over {
    color:red;
}
.timer {
    color: white;
    position:absolute;
    pointer-events: none;
    font-size:40px;
}

#icons-author {
    font-family: Arial;
    font-size: 10px;
}