.container {
  height: 300px;
  margin: 0px auto;
  width: 500px;
}
body {
    font-family: 'Press Start 2P', cursive;
}
.cell {
  background-size: contain;
  box-sizing: border-box;
  float: left;
  height: 10px;
  width: 10px;
}

.water {
  background-color: blue;
}
.land {
  background-color: green;
}

.castle {
  position:absolute;
  width:  20px;
  height: 20px;
  padding:0;
  margin:0;
}

.seg-single {
    border: 1px dotted white;
}
.seg-closed-up {
    border: 1px dotted white;
    border-bottom: none;
}
.seg-closed-down {
    border: 1px dotted white;
    border-top: none;
}
.seg-closed-left {
    border: 1px dotted white;
    border-right: none;
}
.seg-closed-right {
    border: 1px dotted white;
    border-left: none;
}
.seg-through-horizontal {
    border: 1px dotted white;
    border-left: none;
    border-right: none;
}
.seg-through-vertical {
    border: 1px dotted white;
    border-top: none;
    border-bottom: none;
}

.seg-corner-lu {
    border: 1px dotted white;
    border-right: none;
    border-bottom: none;
}

.seg-corner-ru {
    border: 1px dotted white;
    border-left: none;
    border-bottom: none;
}

.seg-corner-rd {
    border: 1px dotted white;
    border-left: none;
    border-top: none;
}

.seg-corner-ld {
    border: 1px dotted white;
    border-right: none;
    border-top: none;
}

.wall {
  background-color: black;
}

.territory-player-0 {
  background-color:grey;
}
.cannon-img {
    width:20px;
    height:20px;
    position:absolute;
    pointer-events: none;
}

.ship {
    width:20px;
    height:20px;
    position:absolute;
}

.cannonball {
    width:10px;
   
    position:absolute;
}

.explosion {
    width:50px;
    
    position:absolute;
}

.game-message {
    position:absolute;
    color:white;
}

.game-options {
    color:white;
}

.game-options-over {
    color:red;
}
.timer {
    color: white;
    position:absolute;
    pointer-events: none;
    font-size:30px;
}

#icons-author {
    font-family: Arial;
    font-size: 10px;
}